# PyCity Schools Analysis

- Your analysis here

---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [2]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [78]:
# Calculate the total number of unique schools
school_count = 0
school_count = school_data_complete['school_name'].nunique()
print ("number or unique schools", school_count)

number or unique schools 15

In [79]:
# Calculate the total number of students
student_count = 0
student_count = school_data_complete['student_name'].count()
print ("Total students", student_count)

Total students 39170

In [80]:
# Calculate the total budget
total_budget = 0
total_budget = school_data_complete['budget'].unique().sum()
print ("total budget", total_budget)

total budget 24649428

In [81]:
# Calculate the average (mean) math score
average_math_score = 0
average_math_score = school_data_complete['math_score'].mean()
print ("average math score", average_math_score)

average math score 78.98537145774827

In [82]:
# Calculate the average (mean) reading score
average_reading_score = 0
average_reading_score = school_data_complete['reading_score'].mean()
print ("average reading score", average_reading_score)

average reading score 81.87784018381414

In [83]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print ("Percentage of students who pass math", passing_math_percentage)

Percentage of students who pass math 74.9808526933878

In [84]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print ("Percentage of students who pass reading", passing_reading_percentage)

Percentage of students who pass reading 85.80546336482001

In [133]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print ("perecentage of students that passed math and reading", overall_passing_rate)

perecentage of students that passed math and reading 65.17232575950983

In [134]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate],
})

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("${:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.2f}%".format)
# Display the DataFrame
print (district_summary)

  Total Schools Total Students    Total Budget Average Math Score  \
0            15         39,170  $24,649,428.00              78.99

  Average Reading Score % Passing Math % Passing Reading % Overall Passing
0                 81.88        $74.98%            85.81%            65.17%

## School Summary

In [88]:
# Use the code provided to select the type per school from school_data
school_type = school_data.set_index(["school_name"])["type"]
print (school_type)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [89]:
# Calculate the total student count per school from school_data
per_school_counts = 0
per_school_counts = school_data.set_index(["school_name"])["size"]
print (per_school_counts)

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [90]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = 0
per_school_budget = school_data.set_index(["school_name"])["budget"]
print (per_school_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [91]:
# Calculate the total school budget per student from school_data
per_school_student_budget = 0
per_school_student_budget = school_data.set_index(["school_name"])["budget"] / school_data.set_index(["school_name"])["size"]
print (per_school_student_budget)

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [92]:
# Calculate the average test scores per school from school_data_complete
per_school_math = 0
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean() 

per_school_reading = 0
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()

print("Averega Math Score", per_school_math)
print("Average Reading Score", per_school_reading)

Averega Math Score school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
Average Reading Score school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [93]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
passing_math = 0
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
students_passing_math = passing_math.groupby("school_name").size()
print ("Number of Students per School Passing Math", students_passing_math)

Number of Students per School Passing Math school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [121]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = 0
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
students_passing_reading = passing_reading.groupby("school_name").size()
print ("Number of Students per School Passing Reading", students_passing_reading)

Number of Students per School Passing Reading school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [95]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print ("number of students per school that passed both math and reading", school_students_passing_math_and_reading)

number of students per school that passed both math and reading school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [97]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math / per_school_counts * 100
per_school_passing_reading = students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
print ("School passing rate", overall_passing_rate)

School passing rate school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
  "School Type": school_type,
  "Total Students": per_school_counts,
  "Total School Budget": per_school_budget,
  "Per Student Budget":per_school_student_budget,
  "Average Math Score": per_school_math,
  "Average Reading Score": per_school_reading,
  "% Passing Math": per_school_passing_math,
  "% Passing Reading":per_school_passing_reading,
  "% Overall Passing": overall_passing_rate,
})


# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
print (per_school_summary)

                      School Type Total Students Total School Budget  \
school_name
Bailey High School       District          4,976       $3,124,928.00
Cabrera High School       Charter          1,858       $1,081,356.00
Figueroa High School     District          2,949       $1,884,411.00
Ford High School         District          2,739       $1,763,916.00
Griffin High School       Charter          1,468         $917,500.00
Hernandez High School    District          4,635       $3,022,020.00
Holden High School        Charter            427         $248,087.00
Huang High School        District          2,917       $1,910,635.00
Johnson High School      District          4,761       $3,094,650.00
Pena High School          Charter            962         $585,858.00
Rodriguez High School    District          3,999       $2,547,363.00
Shelton High School       Charter          1,761       $1,056,600.00
Thomas High School        Charter          1,635       $1,043,130.00
Wilson High School        Charter          2,283       $1,319,574.00
Wright High School        Charter          1,800       $1,049,400.00

                      Per Student Budget Average Math Score  \
school_name
Bailey High School               $628.00              77.05
Cabrera High School              $582.00              83.06
Figueroa High School             $639.00              76.71
Ford High School                 $644.00              77.10
Griffin High School              $625.00              83.35
Hernandez High School            $652.00              77.29
Holden High School               $581.00              83.80
Huang High School                $655.00              76.63
Johnson High School              $650.00              77.07
Pena High School                 $609.00              83.84
Rodriguez High School            $637.00              76.84
Shelton High School              $600.00              83.36
Thomas High School               $638.00              83.42
Wilson High School               $578.00              83.27
Wright High School               $583.00              83.68

                      Average Reading Score % Passing Math % Passing Reading  \
school_name
Bailey High School                    81.03         66.68%            81.93%
Cabrera High School                   83.98         94.13%            97.04%
Figueroa High School                  81.16         65.99%            80.74%
Ford High School                      80.75         68.31%            79.30%
Griffin High School                   83.82         93.39%            97.14%
Hernandez High School                 80.93         66.75%            80.86%
Holden High School                    83.81         92.51%            96.25%
Huang High School                     81.18         65.68%            81.32%
Johnson High School                   80.97         66.06%            81.22%
Pena High School                      84.04         94.59%            95.95%
Rodriguez High School                 80.74         66.37%            80.22%
Shelton High School                   83.73         93.87%            95.85%
Thomas High School                    83.85         93.27%            97.31%
Wilson High School                    83.99         93.87%            96.54%
Wright High School                    83.95         93.33%            96.61%

                      % Overall Passing
school_name
Bailey High School               54.64%
Cabrera High School              91.33%
Figueroa High School             53.20%
Ford High School                 54.29%
Griffin High School              90.60%
Hernandez High School            53.53%
Holden High School               89.23%
Huang High School                53.51%
Johnson High School              53.54%
Pena High School                 90.54%
Rodriguez High School            52.99%
Shelton High School              89.89%
Thomas High School               90.95%
Wilson High School               90.58%
Wright High School               90.33%

## Highest-Performing Schools (by % Overall Passing)

In [125]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_type
sorted_schools = per_school_summary.sort_values(by="% Overall Passing", ascending = False)
top_schools = sorted_schools
print (top_schools.head(5))

                    School Type Total Students Total School Budget  \
school_name
Cabrera High School     Charter          1,858       $1,081,356.00
Thomas High School      Charter          1,635       $1,043,130.00
Griffin High School     Charter          1,468         $917,500.00
Wilson High School      Charter          2,283       $1,319,574.00
Pena High School        Charter            962         $585,858.00

                    Per Student Budget Average Math Score  \
school_name
Cabrera High School            $582.00              83.06
Thomas High School             $638.00              83.42
Griffin High School            $625.00              83.35
Wilson High School             $578.00              83.27
Pena High School               $609.00              83.84

                    Average Reading Score % Passing Math % Passing Reading  \
school_name
Cabrera High School                 83.98         94.13%            97.04%
Thomas High School                  83.85         93.27%            97.31%
Griffin High School                 83.82         93.39%            97.14%
Wilson High School                  83.99         93.87%            96.54%
Pena High School                    84.04         94.59%            95.95%

                    % Overall Passing
school_name
Cabrera High School            91.33%
Thomas High School             90.95%
Griffin High School            90.60%
Wilson High School             90.58%
Pena High School               90.54%

## Bottom Performing Schools (By % Overall Passing)

In [126]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = school_type
sorted_schools = per_school_summary.sort_values(by="% Overall Passing", ascending = True)
bottom_schools = sorted_schools
print (bottom_schools.head(5))

                      School Type Total Students Total School Budget  \
school_name
Rodriguez High School    District          3,999       $2,547,363.00
Figueroa High School     District          2,949       $1,884,411.00
Huang High School        District          2,917       $1,910,635.00
Hernandez High School    District          4,635       $3,022,020.00
Johnson High School      District          4,761       $3,094,650.00

                      Per Student Budget Average Math Score  \
school_name
Rodriguez High School            $637.00              76.84
Figueroa High School             $639.00              76.71
Huang High School                $655.00              76.63
Hernandez High School            $652.00              77.29
Johnson High School              $650.00              77.07

                      Average Reading Score % Passing Math % Passing Reading  \
school_name
Rodriguez High School                 80.74         66.37%            80.22%
Figueroa High School                  81.16         65.99%            80.74%
Huang High School                     81.18         65.68%            81.32%
Hernandez High School                 80.93         66.75%            80.86%
Johnson High School                   80.97         66.06%            81.22%

                      % Overall Passing
school_name
Rodriguez High School            52.99%
Figueroa High School             53.20%
Huang High School                53.51%
Hernandez High School            53.53%
Johnson High School              53.54%

## Math Scores by Grade

In [127]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores,
})

# Minor data wrangling
math_scores_by_grade.index.name = "School Name"

# Display the DataFrame
print (math_scores_by_grade)

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [128]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores,
})

# Minor data wrangling

reading_scores_by_grade.index.name = "School_Name"

# Display the DataFrame
print (reading_scores_by_grade)

                             9th       10th       11th       12th
School_Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [353]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [354]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [355]:
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace(r'[\$,]', '', regex=True).astype(float)

In [357]:

# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.

school_spending_df ["Spending Ranges(Per Student)"] = pd.cut(
    school_spending_df["Per Student Budget"],
    bins=spending_bins,
    labels=labels
    )


print (school_spending_df)

                      School Type Total Students Total School Budget  \
school_name
Bailey High School       District          4,976       $3,124,928.00
Cabrera High School       Charter          1,858       $1,081,356.00
Figueroa High School     District          2,949       $1,884,411.00
Ford High School         District          2,739       $1,763,916.00
Griffin High School       Charter          1,468         $917,500.00
Hernandez High School    District          4,635       $3,022,020.00
Holden High School        Charter            427         $248,087.00
Huang High School        District          2,917       $1,910,635.00
Johnson High School      District          4,761       $3,094,650.00
Pena High School          Charter            962         $585,858.00
Rodriguez High School    District          3,999       $2,547,363.00
Shelton High School       Charter          1,761       $1,056,600.00
Thomas High School        Charter          1,635       $1,043,130.00
Wilson High School        Charter          2,283       $1,319,574.00
Wright High School        Charter          1,800       $1,049,400.00

                       Per Student Budget Average Math Score  \
school_name
Bailey High School                  628.0              77.05
Cabrera High School                 582.0              83.06
Figueroa High School                639.0              76.71
Ford High School                    644.0              77.10
Griffin High School                 625.0              83.35
Hernandez High School               652.0              77.29
Holden High School                  581.0              83.80
Huang High School                   655.0              76.63
Johnson High School                 650.0              77.07
Pena High School                    609.0              83.84
Rodriguez High School               637.0              76.84
Shelton High School                 600.0              83.36
Thomas High School                  638.0              83.42
Wilson High School                  578.0              83.27
Wright High School                  583.0              83.68

                      Average Reading Score % Passing Math % Passing Reading  \
school_name
Bailey High School                    81.03         66.68%            81.93%
Cabrera High School                   83.98         94.13%            97.04%
Figueroa High School                  81.16         65.99%            80.74%
Ford High School                      80.75         68.31%            79.30%
Griffin High School                   83.82         93.39%            97.14%
Hernandez High School                 80.93         66.75%            80.86%
Holden High School                    83.81         92.51%            96.25%
Huang High School                     81.18         65.68%            81.32%
Johnson High School                   80.97         66.06%            81.22%
Pena High School                      84.04         94.59%            95.95%
Rodriguez High School                 80.74         66.37%            80.22%
Shelton High School                   83.73         93.87%            95.85%
Thomas High School                    83.85         93.27%            97.31%
Wilson High School                    83.99         93.87%            96.54%
Wright High School                    83.95         93.33%            96.61%

                      % Overall Passing Spending Ranges(Per Student)
school_name
Bailey High School               54.64%                     $585-630
Cabrera High School              91.33%                        <$585
Figueroa High School             53.20%                     $630-645
Ford High School                 54.29%                     $630-645
Griffin High School              90.60%                     $585-630
Hernandez High School            53.53%                     $645-680
Holden High School               89.23%                        <$585
Huang High School                53.51%                     $645-680
Johnson High School              53.54%                     $645-680
Pena High School                 90.54%                     $585-630
Rodriguez High School            52.99%                     $630-645
Shelton High School              89.89%                     $585-630
Thomas High School               90.95%                     $630-645
Wilson High School               90.58%                        <$585
Wright High School               90.33%                        <$585

## Scores by School Size

In [397]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [398]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [399]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(
    per_school_counts, 
    bins=size_bins,
    labels=labels,
)
# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
print (school_size_df)

                      School Type Total Students Total School Budget  \
school_name
Bailey High School       District          4,976       $3,124,928.00
Cabrera High School       Charter          1,858       $1,081,356.00
Figueroa High School     District          2,949       $1,884,411.00
Ford High School         District          2,739       $1,763,916.00
Griffin High School       Charter          1,468         $917,500.00
Hernandez High School    District          4,635       $3,022,020.00
Holden High School        Charter            427         $248,087.00
Huang High School        District          2,917       $1,910,635.00
Johnson High School      District          4,761       $3,094,650.00
Pena High School          Charter            962         $585,858.00
Rodriguez High School    District          3,999       $2,547,363.00
Shelton High School       Charter          1,761       $1,056,600.00
Thomas High School        Charter          1,635       $1,043,130.00
Wilson High School        Charter          2,283       $1,319,574.00
Wright High School        Charter          1,800       $1,049,400.00

                      Per Student Budget Average Math Score  \
school_name
Bailey High School               $628.00              77.05
Cabrera High School              $582.00              83.06
Figueroa High School             $639.00              76.71
Ford High School                 $644.00              77.10
Griffin High School              $625.00              83.35
Hernandez High School            $652.00              77.29
Holden High School               $581.00              83.80
Huang High School                $655.00              76.63
Johnson High School              $650.00              77.07
Pena High School                 $609.00              83.84
Rodriguez High School            $637.00              76.84
Shelton High School              $600.00              83.36
Thomas High School               $638.00              83.42
Wilson High School               $578.00              83.27
Wright High School               $583.00              83.68

                      Average Reading Score % Passing Math % Passing Reading  \
school_name
Bailey High School                    81.03         66.68%            81.93%
Cabrera High School                   83.98         94.13%            97.04%
Figueroa High School                  81.16         65.99%            80.74%
Ford High School                      80.75         68.31%            79.30%
Griffin High School                   83.82         93.39%            97.14%
Hernandez High School                 80.93         66.75%            80.86%
Holden High School                    83.81         92.51%            96.25%
Huang High School                     81.18         65.68%            81.32%
Johnson High School                   80.97         66.06%            81.22%
Pena High School                      84.04         94.59%            95.95%
Rodriguez High School                 80.74         66.37%            80.22%
Shelton High School                   83.73         93.87%            95.85%
Thomas High School                    83.85         93.27%            97.31%
Wilson High School                    83.99         93.87%            96.54%
Wright High School                    83.95         93.33%            96.61%

                      % Overall Passing         School Size
school_name
Bailey High School               54.64%   Large (2000-5000)
Cabrera High School              91.33%  Medium (1000-2000)
Figueroa High School             53.20%   Large (2000-5000)
Ford High School                 54.29%   Large (2000-5000)
Griffin High School              90.60%  Medium (1000-2000)
Hernandez High School            53.53%   Large (2000-5000)
Holden High School               89.23%       Small (<1000)
Huang High School                53.51%   Large (2000-5000)
Johnson High School              53.54%   Large (2000-5000)
Pena High School                 90.54%       Small (<1000)
Rodriguez High School            52.99%   Large (2000-5000)
Shelton High School              89.89%  Medium (1000-2000)
Thomas High School               90.95%  Medium (1000-2000)
Wilson High School               90.58%   Large (2000-5000)
Wright High School               90.33%  Medium (1000-2000)

## Scores by School Type